.AnimalDetails {
  background: #f9fae5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  gap: 1.5rem;
  flex-direction: column;
}
.imgDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 30px;
  //padding: 2rem;
  width: 500px;
  height: 400px;
}
.textDetails {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  //   width: 40rem;
  color: rgba(1, 39, 97, 0.85);
  margin: 0;
}
.textPetDetails {
  width: 500px;
  height: 60px;
  background: rgba(1, 1, 1, 0.22);
  border-radius: 0px 0px 30px 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #f4f0e1;
  transform: translate(-0%, -190%);
  position: absolute;
}
.Adopt {
  width: 6rem;
  height: 3rem;
  background: #f4f0e1;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Lemon";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  //line-height: 2rem;
  color: #012761;
  font-feature-settings: "cv07" on;
  font-size: 20px;
  border: 2px solid #012761;
}

.p {
  margin: 0;
}
